* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.ids {
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

#input {
    width: 40%;
    text-align: center;
    border: 3px solid black;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 600;
}

.ok {
    width: 40%;
    text-align: center;
    border: 3px solid black;
    font-size: 32px;
    border-radius: 10px;
    background-color: rgb(70, 117, 117);
}

.main {
    width: 98%;
    height: 90vh;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(70, 117, 117);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-content: space-around; */
    overflow: auto;
}

.main div {
    width: 30%;
    height: 300px;
    border: solid 2px black;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
}

/* .main div iframe {
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-top: 15px;
    border-radius: 15px;
} */
/* .main div p {
    font-size: 12px;
    text-align: center ;
} */
.main div a {
    width: 100%;
    height: 300px;
    /* cursor: pointer; */
}

.main div a h4 {
    text-align: center;
}

.main div a img {
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-top: 15px;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
}